<h1 class="text-white font-rock text-3xl">Marketing</h1>
<p class="text-white font-bold text-lg lg:text-xl my-5 lg:mb-16">
  I’m passionate about integrating marketing, analytics, and SEO into my work to
  gain valuable user insights and dynamically adjust products to better meet
  objectives.
</p>

<div class="lg:flex mb-12">
  <!-- First Image -->
  <img
    class="w-72 h-96 object-cover mx-auto lg:mx-0"
    src="assets/Screenshot_20241124_172343_com.instagram.android.jpg"
    alt="awards brochure"
  />

  <!-- Text and Additional Images -->
  <div class="lg:ml-8">
    <h2 class="text-white font-rock text-2xl mb-5 mt-5 lg:mt-0">
      Dyslexia Awareness Week
    </h2>
    <p class="text-white">
      Throughout DAW24, I assisted in social media management. This week saw a
      record amount of engagement from likes, comments and shares, to increased
      website traffic. This was great for the continued effort in awareness.
      <br /><br />
      Part of my strategy was using graphics designed with purpose for each aim
      of the campaign, and posting these regularly at peak engagement times -
      and of course using hashtags and CTAs! Combining effective design and
      social media strategies made for an impactful week, connecting with
      existing and new audiences through quotes, statistics, and sponsors.
    </p>

    <!-- Flex Container for Images -->
    <div class="mt-5">
      <div class="block lg:flex lg:space-x-4">
        <img
          class="w-96 max-w-full h-60 object-cover mb-4 lg:mb-0"
          src="assets/DAW-social-1.JPG"
          alt="Every dyslexia story is different, full of twists and turns!"
        />
        <img
          class="w-60 max-w-full h-60 object-cover"
          src="assets/DAW Helpline Quotes Artboards_SQ 2.png"
          alt="Every dyslexia story is different, full of twists and turns!"
        />
      </div>
    </div>
  </div>
</div>

<div class="lg:flex my-16">
  <div class="flex-grow lg:max-w-3xl">
    <h2 class="text-white font-rock text-2xl mb-5 mt-5 lg:mt-0">
      Website Analytics
    </h2>
    <p class="text-white mb-5">
      Both in my professional roles and personal projects, I employ Google Tag
      Manager with Google Analytics into my websites and social media platforms.
      This gives me invaluable insight to traffic, actions taken, and any issues
      experienced. Many times I have been surprised at the data found, such as
      international interest and popular interactions, giving me a greater
      understanding of reach.
    </p>
  </div>

  <div class="flex flex-col items-center flex-shrink-0 lg:ml-5">
    <img
      class="w-96 h-60 object-cover"
      src="assets/analytics.jpg"
      alt="A strong opening sets the scene in any story!"
    />
  </div>
</div>

<div class="lg:flex mb-24">
  <img
    class="w-80 h-96 object-cover mx-auto lg:mx-0"
    src="assets/Website 4.png"
    alt="awards brochure"
  />
  <div class="lg:ml-8">
    <h2 class="text-white font-rock text-2xl mb-5 mt-5 lg:mt-0">
      Blog Writing
    </h2>
    <p class="text-white">
      As a content creator and digital marketer at MYBE Awards, I managed and
      wrote blog content, ensuring it reached a broad audience. I focused on
      crafting engaging copy that added value, incorporating SEO-friendly
      keywords to enhance visibility and drive traffic.
    </p>
    <a href="https://mybe.me.uk/blog/" target="_blank">
      <button
        class="bg-purple hover:bg-fuchsia text-white font-bold rounded-full py-2 px-4 transition-colors duration-300 ease-in-out mt-5"
      >
        Read Blog
      </button>
    </a>
  </div>
</div>
