<h1 class="text-white font-rock text-3xl">User Experience Design</h1>
<p class="text-white font-bold text-lg lg:text-xl my-5 lg:mb-16">
  As a user-centered designer, I create detailed wireframes to map the UI/UX
  journey, ensuring intuitive and engaging experiences for the target audience.
</p>

<!-- MYBE APP -->

<div class="lg:flex mb-12">
  <img
    class="w-60 h-60"
    src="assets/Mockup-BG.jpg"
    alt="app mockup on devices"
  />
  <div class="lg:ml-8">
    <h2 class="text-white font-rock text-2xl mb-5 mt-5 lg:mt-0">Mobile App</h2>
    <p class="text-white mb-5">
      As the design team lead, with background in design, web development and
      marketing, I lead the branding and prototyping of the charity's mobile
      app. The aim of the app was to produce a product that an underprivileged
      learner, often with a challenging background, could connect with and come
      to a meaningful next step in their journey - like getting into employment.
      It was important for me to use case stories to give the options character
      and make answering questions as clear and engaging as possible to users
      who may struggle with arduous form filling. Instead, an intuitive user
      interface was created, ensuring variety, easy of use and clean branding.
    </p>
    <a
      href="https://xd.adobe.com/view/02c7edcd-9c53-41a7-9df6-05d201ab621e-5794/"
      target="_blank"
    >
      <button
        class="bg-purple hover:bg-fuchsia text-white font-bold rounded-full py-2 px-4 transition-colors duration-300 ease-in-out"
      >
        Avatar Learner Journey
      </button>
    </a>
  </div>
</div>

<h2 class="text-white font-rock text-2xl mb-5 mt-8 lg:mt-20">
  Personal Projects
</h2>
<p class="text-white mb-5">
  For every web development project, I produce high fidelity wireframes to map
  components I will be coding and gain an overall vision of the interface. This
  has helped me foresee snags in the journey and made the programming process
  more efficient.
</p>
<div class="">
  <div class="my-10 block lg:flex text-center justify-center">
    <a
      href="https://www.figma.com/proto/i20mR1ommnsWPuqy80uQ3e/AgiloHub?node-id=0-1&t=p8B6VTLeUs18cZcC-1"
      target="_blank"
    >
      <button
        class="bg-purple hover:bg-fuchsia text-white font-bold rounded-full py-2 px-4 m-2 transition-colors duration-300 ease-in-out"
      >
        SaaS Site (Figma)
      </button>
    </a>
    <a
      href="https://xd.adobe.com/view/02c7edcd-9c53-41a7-9df6-05d201ab621e-5794/"
      target="_blank"
    >
      <button
        class="bg-purple hover:bg-fuchsia text-white font-bold rounded-full py-2 px-4 m-2 transition-colors duration-300 ease-in-out"
      >
        eCommerce Website (Xd)
      </button>
    </a>
    <a
      href="https://xd.adobe.com/view/3cfd64ab-f32f-43df-8cf0-e1a922c46cef-69ae/"
      target="_blank"
    >
      <button
        class="bg-purple hover:bg-fuchsia text-white font-bold rounded-full py-2 px-4 m-2 transition-colors duration-300 ease-in-out"
      >
        Social Media (Xd)
      </button>
    </a>
  </div>
</div>

<div class="flex justify-center">
  <img
    class="w-42 h-76 lg:w-76 lg:h-80 object-cover mb-20"
    src="assets/EADW.PNG"
    alt="app mockup on devices"
  />
</div>
