<h1 class="text-white font-rock text-3xl">Graphic Design</h1>
<p class="text-white font-bold text-lg lg:text-xl my-5 lg:mb-16">
  With over six years professional design experience, stunning visuals are
  second nature to every project I am a part of. Take a look at some of my
  recent career highlights.
</p>

<div class="lg:flex mb-12">
  <div
    class="relative overflow-hidden flex-shrink-0 w-full md:w-80 lg:w-[500px] mx-auto"
  >
    <img
      class="w-full h-full object-cover transform transition-transform duration-300 ease-in-out hover:scale-110"
      src="assets/TTP_BDAAwards2024_RichmondHillHotel_081124-25.jpg"
      alt="awards brochure"
    />
  </div>

  <div class="lg:ml-8">
    <h2 class="text-white font-rock text-2xl mb-5 mt-5 lg:mt-0">
      Annual Awards 2024
    </h2>
    <p class="text-white mb-5">
      In my work with the British Dyslexia Association, I had the opportunity to
      pitch my ideas to the marketing and wider working teams. Presented with 3
      branding visions, the marketing team and I decided on this concept,
      keeping in line with the class and glitz of the 5 star venue which would
      host the Awards for 2024. From my initial artwork concept, I expanded this
      to cover all printed materials for the evening, as well as social media
      marketing. The branding added style to the evening from the programme
      brochure, stage backdrops and even details like table numbers, which was
      all a hit with guests, the like of which included Theo Paphitis and Lizzie
      Acker.
    </p>
    <a
      href="https://www.bdadyslexia.org.uk/news/bda-annual-awards-2024-a-review"
      target="_blank"
    >
      <button
        class="bg-purple hover:bg-fuchsia text-white font-bold rounded-full py-2 px-4 transition-colors duration-300 ease-in-out"
      >
        Event Review
      </button>
    </a>
  </div>
</div>

<div class="flex justify-center">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 justify-center"
  >
    <img
      class="w-72 h-60 object-cover"
      src="assets/TTP_BDAAwards2024_RichmondHillHotel_081124-16.jpg"
      alt="awards table"
    />
    <img
      class="w-72 h-60 object-cover"
      src="assets/TTP_BDAAwards2024_RichmondHillHotel_081124-85.jpg"
      alt="woman looking at brochure"
    />
    <img
      class="w-72 h-60 object-cover"
      src="assets/TTP_BDAAwards2024_RichmondHillHotel_081124-12.jpg"
      alt="awards venue"
    />
  </div>
</div>

<div class="lg:flex mt-16 mb-5">
  <div class="flex-grow lg:max-w-3xl">
    <h2 class="text-white font-rock text-2xl mb-5 mt-5 lg:mt-0">
      Dyslexia Awareness Week
    </h2>
    <p class="text-white mb-5">
      Another pitch which was successful, is the artwork concept for #DAW24.
      Going from a loose concept around storytelling, I solidified the campaign
      through my visual representation. The branding all came together after my
      initial design of the campaign logo, representing the unique pages of each
      person's life and the opportunity to always change the direction of your
      story, the aim of raising awareness around dyslexia. <br /><br />
      DAW is all about social media presence. From my direction, social media
      assets for all platforms were created to share case stories, statistics,
      and campaign messages, to name a few. Due to the visual strength of this
      project, the charity gained significantly higher engagement, building
      support around dyslexia and dyscalculia. <br /><br />
      See more about my marketing strategy
      <a class="underline font-bold" routerLink="/marketing">here</a>.
    </p>
    <a
      href="https://www.bdadyslexia.org.uk/news/dyslexia-awareness-week-2024-a-review"
      target="_blank"
    >
      <button
        class="mb-5 bg-purple hover:bg-fuchsia text-white font-bold rounded-full py-2 px-4 transition-colors duration-300 ease-in-out"
      >
        2024 Review
      </button>
    </a>
  </div>

  <!-- Image container with hover scale, overflow hidden, and centered on small screens -->
  <div
    class="flex flex-col items-center justify-center flex-shrink-0 lg:ml-5 relative overflow-hidden w-72 h-72 mt-5 lg:mt-0 mx-auto"
  >
    <img
      class="w-full h-full object-cover transform transition-transform duration-300 ease-in-out hover:scale-110"
      src="assets/DAW Key Messages_Key SQ - Opening.jpg"
      alt="A strong opening sets the scene in any story!"
    />
  </div>
</div>

<div class="flex justify-center mb-5">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 justify-center"
  >
    <img
      class="w-72 h-72 object-cover"
      src="assets/DAW24 We Support_V1_SQ.png"
      alt="What's your story?"
    />
    <img
      class="w-72 h-72 object-cover"
      src="assets/DAW Resource Packs_Resource SQ - School.png"
      alt="Teacher's Information Pack"
    />
    <img
      class="w-72 h-72 object-cover"
      src="assets/DAW_Key SQ - Change.png"
      alt="It's never too late to change your story"
    />
  </div>
</div>

<img
  class="w-full px-0 md:px-2 lg:px-48 object-cover"
  src="assets/Stats-1.png"
  alt="dyslexia statistics"
/>

<h2 class="text-white text-center font-rock text-3xl mt-12 mb-5">
  Presentation Design
</h2>

<p class="text-white text-center mb-5">
  As a corporate presentation designer, I specialised in crafting visually
  compelling and professional presentations that are both engaging and
  informative. Each design was tailored to communicate branding effectively
  while ensuring clarity and impact. Leveraging my design software skills, I
  enhanced presentations with multimedia elements such as custom infographics,
  animations, and videos, transforming complex information into visually
  digestible and memorable experiences. By blending creativity with strategic
  messaging, I consistently delivered presentations that captivated audiences
  and elevated brand identity.
</p>

<div class="flex justify-center mb-5">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-3 justify-center"
  >
    <img
      class="w-96 h-52 object-cover"
      src="assets/PP Presentations7-min.jpg"
      alt="PowerPoint presentation"
    />
    <img
      class="w-96 h-52 object-cover mb-3"
      src="assets/PP Presentations8-min.jpg"
      alt="PowerPoint presentation"
    />
    <img
      class="w-96 h-52 object-cover"
      src="assets/PP Presentations3-min.jpg"
      alt="PowerPoint presentation"
    />
    <img
      class="w-96 h-52 object-cover mb-3"
      src="assets/PP Presentations4-min.jpg"
      alt="PowerPoint presentation"
    />
    <img
      class="w-96 h-52 object-cover"
      src="assets/PP Presentations5-min.jpg"
      alt="PowerPoint presentation"
    />
    <img
      class="w-96 h-52 object-cover mb-3"
      src="assets/PP Presentations6-min.jpg"
      alt="PowerPoint presentation"
    />
    <img
      class="w-96 h-52 object-cover"
      src="assets/PP Presentations-min.jpg"
      alt="PowerPoint presentation"
    />
    <img
      class="w-96 h-52 object-cover"
      src="assets/PP Presentations2-min.jpg"
      alt="PowerPoint presentation"
    />
  </div>
</div>

<h2 class="text-white text-center font-rock text-3xl mt-12 mb-5">
  Instructional Design
</h2>

<div class="lg:flex lg:mb-5 mb-5 flex-col lg:flex-row">
  <div class="lg:flex lg:flex-col mb-4 lg:mb-0 flex-shrink-0">
    <video
      class="w-full sm:w-full md:w-full lg:w-[600px] lg:h-[400px] mb-4 lg:mb-0"
      controls
      autoplay
    >
      <source
        src="assets/design-temps-tour-infographics.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
    <small class="text-white text-center font-bold block mb-8 lg:mb-0"
      >Showcase of infographic resources</small
    >
  </div>

  <div class="lg:ml-8 mt-4 lg:mt-0 flex-1">
    <p class="text-white mt-5">
      As an instructional designer, a significant part of my role involved
      managing the LMS system. Upon joining the charity, I led the migration of
      outdated content from an old platform to Coassemble, integrating grading
      through Google Classroom. Drawing on my design expertise, I modernised the
      course materials by incorporating multimedia assets such as infographics
      and videos while restructuring the content into more engaging, bite-sized
      modules. Post-launch surveys revealed a marked increase in positive
      feedback and retention rates, which directly contributed to users
      purchasing additional courses to achieve full certification. Beyond
      content design, I provided technical support for the platforms, assisting
      students with issues and mentoring internal staff, including tutors, to
      create and upload content efficiently. This collaborative approach
      accelerated our development process, freeing me to focus on further
      enhancing the visual design of our courses.
    </p>
  </div>
</div>

<img
  class="w-full px-0 md:px-2 lg:px-48 object-cover mb-5 mt-10"
  src="assets/Bell Curve.jpg"
  alt="Bell Curve infographic"
/>

<video
  class="w-full px-0 md:px-2 lg:px-48 object-cover mb-24"
  width="320"
  height="240"
  controls
  autoplay
>
  <source src="assets/memory-shelf.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>

<h2 class="text-white text-center font-rock text-2xl mt-12 mb-5">
  Event Highlights
</h2>

<div class="flex justify-center mb-24">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 justify-center"
  >
    <img
      class="w-72 h-72 object-cover"
      src="assets/Confidence in Change Adverts Artboards_SQ 3.jpg"
      alt="Confidence in Change conference artwork"
    />
    <img
      class="w-72 h-72 object-cover"
      src="assets/LI Squares_BDA24-13.jpg"
      alt="International Conference themes graphic"
    />
    <img
      class="w-72 h-72 object-cover"
      src="assets/IC-conference.png"
      alt="Dimentions of Dyslexia conference"
    />
    <img
      class="w-72 h-72 object-cover"
      src="assets/LI Squares_BDA24-12.jpg"
      alt="International Conference location"
    />
    <img
      class="w-72 h-72 object-cover"
      src="assets/Image (1).jfif"
      alt="The Dyslexia Show"
    />
    <img
      class="w-72 h-72 object-cover"
      src="assets/TTP_BDAAwards2024_RichmondHillHotel_081124-128.jpg"
      alt="annual awards"
    />
  </div>
</div>
