<h1 class="text-white font-rock text-3xl">Graphic Design</h1>
<p class="text-white font-bold text-lg lg:text-xl my-5 lg:mb-16">
  With over six years professional design experience, stunning visuals are
  second nature to every project I am a part of. Take a look at some of my
  recent career highlights.
</p>

<div class="lg:flex mb-12">
  <img
    class="w-72 h-60 object-cover"
    src="assets/TTP_BDAAwards2024_RichmondHillHotel_081124-25.jpg"
    alt="awards brochure"
  />
  <div class="lg:ml-8">
    <h2 class="text-white font-rock text-2xl mb-5 mt-5 lg:mt-0">
      Annual Awards 2024
    </h2>
    <p class="text-white">
      In my work with the British Dyslexia Association, I had the opportunity to
      pitch my ideas to the marketing and wider working teams. Presented with 3
      branding visions, the marketing team and I decided on this concept,
      keeping in line with the class and glitz of the 5 star venue which would
      host the Awards for 2024. From my initial artwork concept, I expanded this
      to cover all printed materials for the evening, as well as social media
      marketing. The branding added style to the evening from the programme
      brochure, stage backdrops and even details like table numbers, which was
      all a hit with guests, the like of which included Theo Paphitis and Lizzie
      Acker.
    </p>
  </div>
</div>

<div class="flex justify-center">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 justify-center"
  >
    <img
      class="w-72 h-60 object-cover"
      src="assets/TTP_BDAAwards2024_RichmondHillHotel_081124-16.jpg"
      alt="awards table"
    />
    <img
      class="w-72 h-60 object-cover"
      src="assets/TTP_BDAAwards2024_RichmondHillHotel_081124-85.jpg"
      alt="woman looking at brochure"
    />
    <img
      class="w-72 h-60 object-cover"
      src="assets/TTP_BDAAwards2024_RichmondHillHotel_081124-12.jpg"
      alt="awards venue"
    />
  </div>
</div>

<div class="lg:flex my-16">
  <div class="flex-grow lg:max-w-3xl">
    <h2 class="text-white font-rock text-2xl mb-5 mt-5 lg:mt-0">
      Dyslexia Awareness Week
    </h2>
    <p class="text-white mb-5">
      Another pitch which was successful, is the artwork concept for #DAW24.
      Going from a loose concept around storytelling, I solidified the campaign
      through my visual representation. The branding all came together after my
      initial design of the campaign logo, representing the unique pages of each
      person's life and the opportunity to always change the direction of your
      story, the aim of raising awareness around dyslexia. <br /><br />
      DAW is all about social media presence. From my direction, social media
      assets for all platforms were created to share case stories, statistics,
      and campaign messages, to name a few. Due to the visual strength of this
      project, the charity gained significantly higher engagement, building
      support around dyslexia and dyscalculia. <br /><br />
      See more about my marketing strategy
      <a class="underline font-bold" routerLink="/marketing">here</a>.
    </p>
  </div>

  <div class="flex flex-col items-center flex-shrink-0 lg:ml-5">
    <img
      class="w-60 h-60 mb-4"
      src="assets/DAW Key Messages_Key SQ - Opening.jpg"
      alt="A strong opening sets the scene in any story!"
    />
    <img
      class="w-60 h-60 mb-4"
      src="assets/DAW STATS_STAT SQ - Workforce.jpg"
      alt="3.3 million of the UK adult workforce are dyslexic"
    />
    <img
      class="w-60 h-60 mb-4"
      src="assets/DAW24 Support Us Artboards_FINAL.jpg"
      alt="What's your story?"
    />
  </div>
</div>
